In [1]:
import numpy as np

import pandas as pd

from scipy.sparse import csr_matrix
from scipy.sparse.linalg import svds

from polara import get_movielens_data # https://github.com/evfro/polara

# Подготовка данных
Используется датасет Movielens-25M (Используйте Movielens-1M для меньшей нагрузки)

In [2]:
ratings, movies = get_movielens_data(
    'D:\Пользователь\Downloads\ml-25m.zip',
    get_genres=True, split_genres=False
)

Имеются описания фильмов:

In [3]:
movies = movies.set_index('movieid')
movies.head()

,movienm,genres
movieid,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

И рейтинги:

In [5]:
ratings.head()

   userid  movieid  rating
0       1      296     5.0
1       1      306     3.5
2       1      307     5.0
3       1      665     5.0
4       1      899     3.5

Количество оценок:

In [6]:
ratings.shape[0]

25000095

Количество пользователей и фильмов:

In [7]:
ratings[['userid', 'movieid']].apply(pd.Series.nunique)

userid     162541
movieid     59047
dtype: int64

In [8]:
print(f"Fraction of known elements: {ratings.shape[0] / np.prod(ratings[['userid', 'movieid']].apply(pd.Series.nunique)) * 100:.2f}%")

Fraction of known elements: 0.26%

Выбор любимых фильмов:

In [9]:
def find_movie(name: str):
    return movies.loc[movies.movienm.str.contains(name, flags=2)]

find_movie('Ghost')

,movienm,genres
movieid,,
587,Ghost (1990),Comedy|Drama|Fantasy|Romance|Thriller
741,Ghost in the Shell (KÃ´kaku kidÃ´tai) (1995),Animation|Sci-Fi
943,"Ghost and Mrs. Muir, The (1947)",Drama|Fantasy|Romance
1049,"Ghost and the Darkness, The (1996)",Action|Adventure
1401,Ghosts of Mississippi (1996),Drama
...,...,...
204162,Little Ghost (1997),Adventure|Children|Fantasy
204936,Pirates of Ghost Island (2007),Horror
206180,Warren Ellis: Captured Ghosts (2011),Documentary
207654,Ghost Ship (2015),Horror
208152,Ghost Tropic (2019),(no genres listed)

In [10]:
find_movie('Star Wars')

,movienm,genres
movieid,,
260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi
1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi
2628,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Sci-Fi
5378,Star Wars: Episode II - Attack of the Clones (...,Action|Adventure|Sci-Fi|IMAX
33493,Star Wars: Episode III - Revenge of the Sith (...,Action|Adventure|Sci-Fi
61160,Star Wars: The Clone Wars (2008),Action|Adventure|Animation|Sci-Fi
79006,Empire of Dreams: The Story of the 'Star Wars'...,Documentary
109713,Star Wars: Threads of Destiny (2014),Action|Adventure|Sci-Fi
122886,Star Wars: Episode VII - The Force Awakens (2015),Action|Adventure|Fantasy|Sci-Fi|IMAX
135216,The Star Wars Holiday Special (1978),Adventure|Children|Comedy|Sci-Fi
136485,Robot Chicken: Star Wars (2007),Animation|Comedy|Sci-Fi
150688,Plastic Galaxy: The Story of Star Wars Toys (2...,Documentary
166528,Rogue One: A Star Wars Story (2016),Action|Adventure|Fantasy|Sci-Fi
179819,Star Wars: The Last Jedi (2017),Action|Adventure|Fantasy|Sci-Fi
181355,Robot Chicken: Star Wars Episode II (2008),Comedy|Sci-Fi
181357,Robot Chicken: Star Wars Episode III (2010),Comedy|Sci-Fi
182857,Star Wars: The Legacy Revealed (2007),Documentary
184593,Star Wars Downunder (2013),Sci-Fi
187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi
195217,Star Wars: Dresca,Sci-Fi

In [11]:
find_movie('pretty')

,movienm,genres
movieid,,
597,Pretty Woman (1990),Comedy|Romance
2145,Pretty in Pink (1986),Comedy|Drama|Romance
4031,All the Pretty Horses (2000),Drama|Romance|Western
6552,Dirty Pretty Things (2002),Crime|Drama|Thriller
8499,Pretty Baby (1978),Drama
26941,"Pretty Village, Pretty Flame (Lepa sela lepo g...",Drama|War
32783,Pretty Maids All in a Row (1971),Comedy|Crime|Thriller
34540,Pretty Persuasion (2005),Comedy|Drama
48035,Pretty Poison (1968),Comedy|Crime|Romance|Thriller
49464,Sitting Pretty (1948),Comedy
79767,Pretty Bird (2008),Comedy|Drama
84334,"Rich, Young and Pretty (1951)",Comedy|Musical|Romance
100246,Pretty Sweet (2012),Documentary
107690,Pretty Good for a Human (People Not as Bad as ...,Comedy|Drama
109357,Pretty/Handsome (2008),Drama
113394,"Pretty One, The (2013)",Comedy|Drama
121943,Pretty Baby (1950),Comedy
122625,Pretty Devils (2000),Comedy|Drama
125904,Pretty Cool (2001),Action|Comedy|Thriller
127240,Pretty Butterflies (2012),Drama
129305,Pretty Things (2001),Drama
131790,Pretty Smart (1987),Comedy|Drama
138196,Pretty Rosebud (2014),(no genres listed)
155721,Poor Pretty Eddie (1975),Drama|Horror
157126,Pretty Ugly People (2009),Comedy
157244,"Scream, Pretty Peggy (1973)",Drama|Horror|Mystery|Thriller
165601,I Am the Pretty Thing That Lives in the House ...,Horror|Thriller
169934,Seduced: Pretty When You Cry (2001),(no genres listed)
170559,A Bullet for Pretty Boy (1970),Action|Crime|Drama|Thriller
172235,Pretty Cool Too (2007),Comedy
173245,Pretty as a Picture: The Art of David Lynch (1...,Documentary
175975,Little Girls in Pretty Boxes (1997),(no genres listed)
178059,Rowan Atkinson: Not Just a Pretty Face (1992),Comedy
179663,Pretty Faces - The Story of a Skier Girl (2014),Documentary
185001,I Feel Pretty (2018),Comedy
191635,Pretty Little Dead Girl (2017),Mystery|Thriller
202035,Pretty Broken (2018),Comedy|Drama

In [13]:
favorite_movies_ids = [587, 1196, 597, 2716]

movies.loc[favorite_movies_ids]

,movienm,genres
movieid,,
587,Ghost (1990),Comedy|Drama|Fantasy|Romance|Thriller
1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi
597,Pretty Woman (1990),Comedy|Romance
2716,Ghostbusters (a.k.a. Ghost Busters) (1984),Action|Comedy|Sci-Fi

# RecSys в 3 шага

### 1. Строим разреженную матрицу из данных об оценках

In [14]:
data_matrix = csr_matrix(
    (ratings.rating.values.astype('f8'),
    (ratings.userid.values, ratings.movieid.values) )
)

### 2. Вычисляем разреженное SVD

In [15]:
RANK = 50

_, S, Vt = svds(data_matrix, k=RANK, return_singular_vectors='vh') # Долго для большого датасета или ранга

### 3. Генерируем top-k рекомендаций, основанных на известных предпочтениях пользователя

In [16]:
top_k = 15 # Задаём количество рекомендаций в выдаче

movies.loc[np.argsort(-Vt.T @ Vt[:, favorite_movies_ids].sum(axis=1))[:top_k]]

,movienm,genres
movieid,,
1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi
260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi
597,Pretty Woman (1990),Comedy|Romance
539,Sleepless in Seattle (1993),Comedy|Drama|Romance
587,Ghost (1990),Comedy|Drama|Fantasy|Romance|Thriller
500,Mrs. Doubtfire (1993),Comedy|Drama
357,Four Weddings and a Funeral (1994),Comedy|Romance
1198,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure
527,Schindler's List (1993),Drama|War
356,Forrest Gump (1994),Comedy|Drama|Romance|War
2628,Star Wars: Episode I - The Phantom Menace (1999),Action|Adventure|Sci-Fi
586,Home Alone (1990),Children|Comedy
377,Speed (1994),Action|Romance|Thriller
480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller

Ура!

Ещё эксперемент:

In [23]:
find_movie('The Golden Calf')[:5]

                        movienm        genres
movieid
133361   The Golden Calf (1968)  Comedy|Drama

In [19]:
find_movie('Peaceful Warrior')[:5]

                         movienm genres
movieid
45503    Peaceful Warrior (2006)  Drama

In [22]:
favorite_movies_ids_2 = [133361, 45503]

movies.loc[np.argsort(-Vt.T @ Vt[:, favorite_movies_ids_2].sum(axis=1))[:top_k+10]]

,movienm,genres
movieid,,
1270,Back to the Future (1985),Adventure|Comedy|Sci-Fi
1265,Groundhog Day (1993),Comedy|Fantasy|Romance
356,Forrest Gump (1994),Comedy|Drama|Romance|War
3147,"Green Mile, The (1999)",Crime|Drama
92259,Intouchables (2011),Comedy|Drama
4995,"Beautiful Mind, A (2001)",Drama|Romance
32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
47610,"Illusionist, The (2006)",Drama|Fantasy|Mystery|Romance
64957,"Curious Case of Benjamin Button, The (2008)",Drama|Fantasy|Mystery|Romance
2011,Back to the Future Part II (1989),Adventure|Comedy|Sci-Fi
48780,"Prestige, The (2006)",Drama|Mystery|Sci-Fi|Thriller
7254,The Butterfly Effect (2004),Drama|Sci-Fi|Thriller
47099,"Pursuit of Happyness, The (2006)",Drama
2012,Back to the Future Part III (1990),Adventure|Comedy|Sci-Fi|Western
344,Ace Ventura: Pet Detective (1994),Comedy
2959,Fight Club (1999),Action|Crime|Drama|Thriller
1203,12 Angry Men (1957),Drama
1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller
1246,Dead Poets Society (1989),Drama
589,Terminator 2: Judgment Day (1991),Action|Sci-Fi
293,LÃ©on: The Professional (a.k.a. The Profession...,Action|Crime|Drama|Thriller
1682,"Truman Show, The (1998)",Comedy|Drama|Sci-Fi
367,"Mask, The (1994)",Action|Comedy|Crime|Fantasy
104374,About Time (2013),Drama|Fantasy|Romance
1193,One Flew Over the Cuckoo's Nest (1975),Drama